<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="index.html">
                            <img src="images/main-logo.png" alt="logo">
                        </a>
                    </div>
                    <p>Gravida massa volutpat aenean odio. Amet, turpis erat nullam fringilla elementum
                        diam
                        in.
                        Nisi, purus
                        vitae, ultrices nunc. Sit ac sit suscipit hendrerit.</p>
                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-3">
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#pinterest"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Liên kết nhanh</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item">
                            <a href="index.html" class="item-anchor">Trang chủ</a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" class="item-anchor">Về chúng tôi</a>
                        </li>
                        <li class="menu-item">
                            <a href="blog.html" class="item-anchor">Dịch vụ</a>
                        </li>
                        <li class="menu-item">
                            <a href="styles.html" class="item-anchor">Sản phẩm đơn</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">Trợ giúp & Thông tin</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Theo dõi đơn hàng của bạn</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Trả hàng + Đổi hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Vận chuyển + Giao hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Liên hệ với chúng tôi</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Tìm chúng tôi dễ dàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" class="item-anchor">Câu hỏi thường gặp</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title text-uppercase mb-4">Liên hệ với chúng tôi</h5>
                    <p>Bạn có bất kỳ câu hỏi hoặc đề xuất nào không? <a href="mailto:toducbn@gmail.com"
                            class="item-anchor">toducbn@gmail.com</a></p>
                    <p>Bạn cần hỗ trợ? Hãy gọi cho chúng tôi. <a href="tel:+0364 398 622" class="item-anchor">+0364 398
                            622</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="shipping">
                        <span>Chúng tôi vận chuyển với:</span>
                        <img src="/images/arct-icon.png" alt="icon">
                        <img src="/images/dhl-logo.png" alt="icon">
                    </div>
                    <div class="payment-option">
                        <span>Tùy chọn thanh toán:</span>
                        <img src="/images/visa-card.png" alt="thẻ">
                        <img src="/images/paypal-card.png" alt="thẻ">
                        <img src="/images/master-card.png" alt="thẻ">
                    </div>
                </div>
                <div class="col-md-6 text-end">
                    <p>© Bản quyền 2025 Kaira. Bảo lưu mọi quyền. Thiết kế bởi VanBen277
                        Phân phối
                        bởi VanBen277
                </div>
            </div>
        </div>
    </div>
</footer>